/* CONST */

$color-one: white;
$color-two: black;
$color-three: #1dd1a1;
$color-four: #10ac84;
$color-five: #222f3e;
$color-six: #576574;

$font-one: "Josefin Sans", sans-serif;
$font-two: "Abel", sans-serif;

$border-w: 0px;

$border-sec: $border-w solid yellow;
$border-con: $border-w solid green;
$border-con-inn: $border-w dotted blue;
$border-con-inn-wrap: $border-w dotted orange;
$border-con-inn-elem: $border-w dotted red;

$transition: all 1s;

/* GLOBAL */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  background-color: $color-five;
  margin: 0;
}
section {
  border: $border-sec;
  border-radius: 15px;
  margin: 30vh auto;
  box-shadow: 0 0 15px $color-six;
}
.container {
  border: $border-con;
  border: 3px solid $color-five;
  background-color: $color-four;
  padding: 35px;
  width: 400px;
  text-align: center;
}

/* DESCRIPTION */

.calculator-description {
  border: $border-con-inn;
  margin: 0 0 15px 0;
  .description-title {
    border: $border-con-inn-elem;
    margin: 0 0 10px 0;
    font-family: $font-one;
    font-size: 32px;
  }
  .description-text {
    border: $border-con-inn-elem;
    margin: 0;
    font-family: $font-two;
    font-size: 20px;
    letter-spacing: 2px;
    color: $color-six;
  }
}

/* INPUTS */

.calculator-inputs {
  border: $border-con-inn;
  .wrapper {
    border: $border-con-inn-wrap;
    padding: 0;
    .input-number {
      display: inline-block;
      border: 2px solid $color-two;
      border-radius: 5px;
      height: 40px;
      width: 90px;
      margin-left: 17px;
      padding: 7px 7px 12px 7px;
      font-size: 24px;
      text-align: right;
      letter-spacing: 3px;
    }
    .input-title {
      border: $border-con-inn-elem;
      display: inline-block;
      height: 40px;
      width: 130px;
      margin: 0;
      font-size: 20px;
      color: $color-six;
    }
  } 
}

/* BUTTONS */

.calculator-buttons {
  border: $border-con-inn;
  .wrapper {
    border: $border-con-inn-wrap;
    padding: 0;
    .button {
      border: $border-con-inn-elem;
    }
    .btn-bmi {
      border: $border-con-inn-elem;
      border: 5px solid $color-one;
      border-radius: 10px;
      background-color: $color-five;
      height: 100px;
      width: 210px;
      margin: 20px auto;
      padding: 30px 0;
      font-family: $font-one;
      font-size: 40px;
      letter-spacing: 5px;
      color: $color-one;
    }
    .btn-reset {
      border: $border-con-inn-elem;
      border: 5px solid $color-one;
      border-radius: 7px;
      background-color: $color-five;
      height: 30px;
      width: 210px;
      margin: 0 0 20px 0;
      padding: 3px 0;
      font-family: $font-one;
      font-size: 15px;
      letter-spacing: 7px;
      color: $color-one;
    }
  }
}

/* OUTPUT */

.calculator-output {
  border: $border-con-inn;
  .result {
    border: $border-con-inn-elem;
  }
}

/* PROPOSAL */

.calculator-proposal {
  border: $border-con-inn;
}
